* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.background{
    background: url(/disney/imgs/background.png) no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.conteudo{
    position: relative;
    z-index: 1;
}

header{
    display: flex;
    padding-left: 2rem;
}

#logo{
    margin-right: 1rem;
}

.logo_img {
    height: 3.5rem;
    width: 7rem;
}

#menu{
    padding: 1rem;
}

.nav_list {
    display: flex;
    gap: 1.5rem; 
    padding-top: .25rem;
}

.nav_link i, .nav_link_hidden i, .nav_link_hidden_desk i{
    padding-right: 1rem;
    font-size: .85rem;
}

.nav_link_hidden_desk{
    display: none;
}

.nav_list_submenu {
    display: none;
    background: #141414;
    border: .1rem solid hsl(0, 0%, 22%);
    border-radius: .5rem;
    padding: 1rem 8rem 0rem 1rem;
    margin-top: .5rem;
}

.nav_item:hover .nav_list_submenu {
    display: block;
}

.nav_text_submenu{
    position: absolute;
}

.nav_link_submenu i{
    margin-bottom: 1.25rem;
    margin-right: 1.5rem;
}

.nav_link span, .nav_link_hidden span, .nav_link_submenu span::after {
    position: relative;
}

.nav_link_hidden span::after, .nav_link span::after, .nav_link_submenu span::after{
    background-color: rgb(255, 255, 255); /* cor da linha */
    bottom: -0.35rem;   /* distância da linha */
    content: "";
    height: .1rem;
    left: 0;
    position: absolute;
    transition: width 0.1s ease-in-out;
    width: 0%;
}

.nav_link:hover span::after, .nav_link_hidden:hover span::after, .nav_link_submenu:hover span::after {
    width: 100%;
}

@media (max-width: 1024px) {
    .nav_item_hidden{
        display: none;
    }
    .nav_link span{
        display: none;
    }
    
    .nav_link_hidden_desk{
    display: block;
    }
    
    .nav_link i, .nav_link_hidden i, .nav_link_hidden_desk i{
    font-size: 1.25rem;
    }
}