* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.background{
    background: url(/disney/imgs/background.png) no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.conteudo{
    position: relative;
    z-index: 1;
}